<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @autor.nombre %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @autor.apellidos %>
</p>

<%= link_to 'Edit', edit_autor_path(@autor) %> |
<%= link_to 'Back', autors_path %>
